<table class="table table-stripped">
	<tr>
		<th>
			Title
		</th>
		<th>
			Content
		</th>
		<th></th>
	</tr>
	<% @posts.each do |post| %>
		<tr>
			<td>
				<%= post.title %>
			</td>
			<td>
				<%= post.body %>
			</td>
			<td>
				<%= link_to 'show', post_path(post), remote: true %>
				<%= link_to 'Edit', edit_post_path(post), remote: true %>
				<%= link_to 'Destroy', post, method: :delete, remote: true %>
			</td>
		</tr>
	<% end %>
</table>

	
